:root{
    --primary-color: #055a05; /* forest green */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", Georgia, Serif;
}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 20px;
}
header img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}
nav ul {
    display: flex;
    justify-content:space-between;
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(-- body-font);
    color: var(--accent1-color);
}
header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h2 {
    grid-column: 1/4;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero {
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - make sure there is enough contrast with the background-color */
}
 .hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 16px;   
}
.hero article img{
    float: right;
    width: 125px;
    margin-left: 16px;
    border: 2px solid var(--accent2-color);
}
.company-info {
    padding: 10px;
}
.company-info iframe {
    width: 50%;
    height: 250px;
    border: 0;
}
.contact-form {
    padding: 20px;
}
.contact-form form {
    max-width: 300px;
    margin:auto;
}
.contact-form label {
    display: block;
    margin-bottom: 10px;
}
.contact-form input, contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.contact-form button [type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: auto;
    border-radius: 5px;
}
.contact-form button {
    background-color: #3e8e41;
    width: 55%;
    padding: 10px;
}
.socialmedia a {
    text-decoration: none;
}
.employee-profiles {
    padding:20px;
}
.employee-profiles figure {
    display: inline-block;
    margin: 20px;
}
.employee-profiles img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
footer {
    display: flex;
    justify-content: grid;
    padding: 0.1rem;
    background-color: #333;
    color: #fff;
}
footer img {
    width: 30px;
    height: 30px;
    margin: 1rem;
}