:root{
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", Georgia, Serif;
    --body-font: Arial, Helvetica, Sans-serif;
}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 20px;
}
header img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
nav ul {
    display: flex;
    justify-content:space-between;
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(-- body-font);
    color: var(--accent1-color);
}
header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.socialmedia-links a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - make sure there is enough contrast with the background-color */
}
 .hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 16px;   
}
.hero article img{
    float: right;
    width: 125px;
    margin-left: 16px;
    border: 2px solid var(--accent2-color);
}
.history {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:  1rem;
}
.history img {
    width: 50%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}
.adventures {
    padding: 20px;
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}
.adventures img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.adventures-grid figcaption {
    text-align: center;
    background-color: #f0f0f0;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
footer {
    display: flex;
    justify-content: flex;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
footer img {
    width: 20px;
    height: 20px;
    margin: 0 1rem;
}