:root{
    --primary-color: #055a05; /* forest green */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", Georgia, Serif;
}
header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 20px;
}
header img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}
nav ul {
    display: flex;
    justify-content:space-between;
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(-- body-font);
    color: var(--accent1-color);
}
header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h2 {
    grid-column: 1/4;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero {
    position: relative;
    height: 500%;
    overflow: hidden;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.hero h1{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;  
}
.hero article img{
    float: right;
    width: 125px;
    margin-left: 16px;
    border: 2px solid var(--accent2-color);
}
.company-info {
    padding: 10px;
}
.company-info iframe {
    width: 50%;
    height: 250px;
    border: 0;
}
.contact-form {
    padding: 20px;
}
.contact-form form {
    max-width: 300px;
    margin:auto;
}
.contact-form label {
    display: block;
    margin-bottom: 10px;
}
.contact-form input, contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.contact-form button [type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: auto;
    border-radius: 5px;
}
.contact-form button {
    background-color: #3e8e41;
    width: 55%;
    padding: 10px;
}
.newsletter{
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}
.newsletter form{
    margin-top: 20px;
}
.newsletter input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.newsletter button[type="submit"]{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.call-to-action a {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.grid-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
.grid-item{
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}
.grid-item img{
    width: 100%;
    height: 130px;
    object-fit: cover;
    margin-bottom: 10px;
}
.trip-descriptions{
    padding: 20px;
}
.trip{
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
}
.trip img{
    width: 80%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}
.trip-table{
    padding: 20px;
}
.trip-table table{
    width: 100%;
    border-collapse: collapse;
}
.trip-table th, .trip-table td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.socialmedia a {
    text-decoration: none;
}
.employee-profiles {
    padding:20px;
}
.employee-profiles figure {
    display: inline-block;
    margin: 20px;
}
.employee-profiles img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
footer {
    display: flex;
    justify-content: grid;
    padding: 0.1rem;
    background-color: #333;
    color: #fff;
}
footer img {
    width: 30px;
    height: 30px;
    margin: 1rem;
}